language: python
cache: pip
python:
- 3.5
- 3.6
- 3.7
before_install:
- export BOTO_CONFIG=/dev/null
install:
- pip install -r requirements-dev.txt
script:
- make test
after_success:
- bash <(curl -s https://codecov.io/bash)
sudo: false
env:
  global:
    - AWS_DEFAULT_REGION=us-east-1
    # AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY
    - secure: "lc0EC7uq8pxQ0lRtv3tyPh5c2xKeTDCAUCShwNOM+qUqkdi9WEHgkuvqABDergCh83OhpH9D4KX/3C156emDFcoUNWKVPLBYq+dZ9PDOm9vHPG4C6uRgx65lbfyqb5HIbVp2uBNT+bAWIfan3vOAp5pzXc44enPbYTx4JbJCS5+BFrN7ZhqhN8jpTy6eertEfbDP/6UiqSb+HGHxl1/Q8+cxM+gtsXKR7J6spzi2bye/cIq2AKTBlvYBqHD1OSOZSQ5IinP0U4gmY7lMRdb1PH8NnS4LwzrLXhTsu1SzU8iPpWxE/MaX4vRcR9QlRAuMatrVjJCYfXpN+sPXaXVX+WH2SffNpKTD9S+cf32w2LCGK/AYouweDjnS6i1SBq1NR89qTK10HqZC+0VZn2whzvG9JHf7YHYlDj9FOV26HMndNHy/akTA4DzkrBnRyZlXPzxRSLgVe4Edlmy3UK+wuzdD6FDi6FCdANCjDxlIWOzNl82vqNT4TF6mLh10sZjXiXBMgL0Y8q7LXSIs2aYGOU3CgcZ7SGlC9jOhVV4bT0eJyO5sKGtJXaEb+7DSwGroP5gQENu0FkfOojbxPdLNj5J3/iWKLjuvTjhPpMgDJBz00GNyMYobRipx26z6xji8475Rqwhf8V24nt5m7CD9tGY9LkHbEnLiglXpIRZqGA8="
    - secure: "t2tKqWTsNuT/Hobn4sAIFdilech/NPGFKV5SP5yIMTt8chwQy/sN1p4v1qNrCSjXz1u5d55INGipzxHPJJoH4JsCEl2k3TEUCb+xKRs2KcVdTdpjstOZl2UJxVfFalYBRxz8EnQp/ZQRtKS5AHgvOBBrAuQUOv3xEaQll6GKU6HPDgJsgPFN1ELyrJ5T58hORLLxvOTWPz4JqydJoAiHlMTAFp8zP/MYXBu3myzV5Nu9SInE8tAzHDLJ0/bFLhkeI2U9L094XRqaw+P2Kt6UhwPTOCOrmkTpm+QUzVNP7Gl4iqMJekojZ9nFrsj6c1BkETb15aeFh1mh3BligKfms9LJK/24lw7Tjhl8tNVvqSTI7kfNPuHFi8sl8Bkvh9iC3VZN6yLe9/XgNsQCv5JjrjWaMJltlTBytgOE5ROk7EsCx0H3gNtzOr/QjUoEyLGABYpm6X2R3JsAkKXjSjR0LfIgl6zkFTeJhxVeQyeA/24/32SQz/TgRCkADePNsAmmbfmAJdwtJwjOqQQ8+YdVxMWy8236VPQCtn2TbNPBUJcP8WPBRQdBHpdznL6r715hQmmwRl05K9TiquTAKSnAt9dPweZONmHn3wYEadITLmKQpLCFMb/JU2p+mN7uZqrVQSotr/fw8orX6p1oFFvYCqymIgh5tNx+uX6QTx1wuCQ="
